
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #3b3b3b;
}
.comment .comment-arrow {
  border-color: #ffe0cc;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #ffe0cc;
}
.tabs ul.primary li a.active {
  background-color: #ffe0cc;
}
.tabs ul.primary li.active a {
  background-color: #ffe0cc;
  border-bottom: 1px solid #ffe0cc;
}
#header {
  background-color: #e65c00;
  background-image: -moz-linear-gradient(top, #e65c00 0%, #e65c00 100%);
  background-image: -ms-linear-gradient(top, #e65c00 0%, #e65c00 100%);
  background-image: -o-linear-gradient(top, #e65c00 0%, #e65c00 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e65c00), color-stop(1, #e65c00));
  background-image: -webkit-linear-gradient(top, #e65c00 0%, #e65c00 100%);
  background-image: linear-gradient(top, #e65c00 0%, #e65c00 100%);
}
a {
  color: #996632;
}
a:hover,
a:focus {
  color: #d47b22;
}
a:active {
  color: #e99948;
}
.sidebar .block {
  background-color: #ffe0cc;
  border-color: #996633;
}
#page-wrapper,
#footer-wrapper {
  background: #996633;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #ffffff;
}
